div:has(#newBook) {
  display: flex;
  justify-content: center;
}

#newBook {
  position: absolute;
  bottom: 2rem;

  font-size: 2rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: white;
  background-color: black;
}

dialog,
label,
button,
input {
  font-size: 1.5rem;
}

input {
  padding: 0.5rem 0;
}

input[type="radio"] {
  transform: scale(1.25);
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

#container {
  display: flex;
  height: 100vh;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
