div:has(#newBook) {
  display: flex;
  justify-content: center;
}

#newBook {
  position: absolute;
  bottom: 2rem;

  font-size: 2rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: white;
  background-color: black;
}
